body{
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#carta{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid #333;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 15px;
    
}

.esquina {

position: absolute;
font-size: 25px;
padding: 10px;
line-height: 0.8;
text-align: center;

}

#superior {

top: 10px;
left: 10px;

}

#inferior{

bottom: 10px;
right: 10px;
transform: rotate(180deg);
}


#centro{    

display: flex;
justify-content: center;
align-items: center;
height: 100%;
font-size: 100px;

}

#btn{
 background-color: black;
 text-align: center;
 color: white;
 

}

.Mandos{
margin-bottom: 10px;

}

input{
    padding: 6px;
    margin: 5px;
    width: 120px;
}